@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  font-family: "Quicksand";
  background: #333;
}
.navbar {
  padding: 200px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #bdac16;
  font-weight: bold;
}
.links {
  /* left: -500px;
  position: relative; */
  position: fixed;
  left: 400px;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  color: #bdac16;
  font-size: large;
}
.navbar a:hover {
  color: #bd7516;
}
.content {
  max-width: auto;
  margin: auto;
  padding: 20px;
}




/*Supplier Score Card*/
.supplier-score-card {
  margin: 20px;
  max-width: 500px;
}

.card-header {
  font-weight: bold;
}

.card-footer {
  font-weight: bold;
  text-align: center;
}

.table-left {
  max-width: 25px; 
}

.table-right {
  max-width: 25px;
}




/* Rating Classes ABCD */
.A {
  color: green;
  font-weight: bold;   
}
.B {
  color: yellow;
  font-weight: bold; 
}
.C {
  color: orange;
  font-weight: bold; 
}
.D {
  color: red;
  font-weight: bold; 
}


.loading {
  color: #bdac16;
  font-size: larger;
  font-weight: bold;
  margin: 50px;
}

/* home new blog form */
.home {
  margin: 0 auto;
  text-align: center;
  color: #bdac16;
}

.home label {
  text-align: left;
  display: block;
}
.home h2 {
  font-size: 20px;
  margin-bottom: 30px;
}
.home input, .home textarea, .home select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  color: #bdac16;
}
.home button {
  background: #bdac16;;
  border: 0;
  padding: 8px;
  border-radius: 12px;
  cursor: pointer;
}
