@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  font-family: "Quicksand";
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  /* max-width: 1000px; */
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: black;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}



.App h1 {
  margin: 20px;
  font-weight: bold;
}

/*Supplier Score Card*/
.supplier-score-card {
  margin: 20px;
  max-width: 500px;

}

.card-header {
  font-weight: bold;
}

.card-footer {
  font-weight: bold;
  text-align: center;
}

.table-left {
  max-width: 25px; 
}

.table-right {
  max-width: 25px;
}

/* Rating Classes ABCD */
.A {
  background-color: green;
  text-align: center;
  font-weight: bold;
}
.B {
  background-color: yellow;
  text-align: center;
  font-weight: bold;
}
.C {
  background-color: orange;
  text-align: center;
  font-weight: bold;
}
.D {
  background-color: red;
  text-align: center;
  font-weight: bold;
}