@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  font-family: "Quicksand";
}

.App h1 {
  margin: 20px;
  font-weight: bold;
}

/*Supplier Score Card*/
.supplier-score-card {
  margin: 20px;
  max-width: 500px;
}

.card-header {
  font-weight: bold;
}

.card-footer {
  font-weight: bold;
  text-align: center;
}

.table-left {
  max-width: 25px;
}

.table-right {
  max-width: 25px;
}